aws_access_key = "slkdjashfklakjlskd"
aws_secret_key = "lakjsdl;kajd"
key_name = "PLuralsight"
private_key_pah = "C:\\lskjfs.pem"

bucket_name_prefix = "globo"
billing_code_tag = "ACCT8675309"
environment_teg = "dev"

arm_subscription_id = "sldjflksdf"
arm_principal = "sfsdfds"
arm_password = "sdsd"
tenant_id = "sdfsdf"
dns_zone_name = "globamatic.xyz"
dns_resource_group = "dns"
